.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-base-height);
  padding: 2em 1rem;
  z-index: 20;
}

.menu-toggle {
  display: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.menu-items {
  display: flex;
  gap: 1rem;
}

.menu-items a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.25s;
}

.menu-items a:hover {
  border-color: #646cff;
}

@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }

  .menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0;
  }

  .menu-items a {
    text-align: center;
  }

  .menu-items.open {
    display: flex;
  }
}
